/*! ajaxcarper version 1.0.0 */
.wrapper_box {
    	position:fixed; width:320px; height:163px; background:white;	z-index:999999; 
	border:1px solid #DB398C;opacity:1;top:40%;left:40%;display:block;padding:20px;
}
.wrapper_box a{}
.wrapper_box .product_name a{}
.wrapper_box p.info {color:#2d2d2d;font-size:16px;background:#EFF5EA;border:1px solid #446423;padding:5px 10px;}
.wrapper_box #continue_shopping {float:left;background: none repeat scroll 0 0 #DB398C;color: #FFFFFF;margin-top: 10px;padding: 5px 10px;}
.wrapper_box #continue_shopping:hover {background:#403239;}
.wrapper_box #shopping_cart {float:right;background: none repeat scroll 0 0 #DB398C;color: #FFFFFF;margin-top: 10px;padding: 5px 10px;}
.wrapper_box #shopping_cart:hover {background:#403239;}
.pop_compare.wrapper_box #continue_shopping {float:none;}
.pop_compare.wrapper_box #product_info_box {padding-bottom:10px;}
.pop_wishlist.wrapper_box #continue_shopping {float:none;}
.pop_wishlist.wrapper_box #product_info_box {padding-bottom:10px;}
/* top cart  */
.top-cart-wrapper {
    background: url(../ajaxcartsuper/images/icon_cart.png) no-repeat left center;
    float: right;
    padding: 0 0 0 45px;
    margin:47px 0 0 0;
}
.top-cart-wrapper:hover {
}
.top-cart-contain {
    position: relative;
    height: 45px;
    padding: 0;
    cursor: pointer;
    z-index:100001;
}
.top-cart-contain:hover {
}
.top-cart-content {
    display: none;
    width: 230px;
    position: absolute;
    top: 50px;
    right: 0;
    background: #fff;
    border: 1px solid #d4d4d4;
    padding: 10px;
    text-align: left;
}
.top-cart-title .cart_arrow {
	position:absolute;
	bottom:-6px;
	right:50px;
	width:18px;
	height:11px;
	z-index:1000;
	display:none;
}
.top-cart-contain:hover .top-cart-title .cart_arrow {
	display:block;
}
.top-subtotal {
    float: left;
    margin: 15px 0 0;
}
.top-cart-content li.item{ float:left; width:100%; margin:0 0 10px; }
.top-cart-content .product-details { position:relative; }
.top-cart-content .product-details .btn-remove{ position:absolute; right:10px; top:4px; }
.top-cart-content .product-details .btn-edit{ position:absolute; right:30px; top:4px; }

.top-cart-content .actions {
    padding: 0;
    float:right;
    margin:10px 0 0;
}
.top-cart-icon {
    padding: 5px;
    width: 20px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.top-cart-title {
    display: inline-block;
    padding: 0 0 0 5px;
    vertical-align: top;
    text-align:left;
    color:#000;
	margin-top:10px;
}
.top-cart-title span{ font-weight:normal; font-size:13px; text-transform:uppercase; }
.top-cart-title p span {text-transform:none;}
.top-cart-contain .price {
    font-weight:normal;
    color: #E6415F;
}
    
