.ma-tabsproduct-contain {
    float: left;
    clear: both;
    width: 100%;
}
.ma-tabsproduct-contain .tabs-title li { background: url("../images/bg-title-tab.png") no-repeat right 50%; }
.ma-tabsproduct-contain .tabs-title li:last-child { background: none;}
.ma-tabs-title {
    float: left;
    width: 100%;
    margin: 30px 0 0;
}
.ma-tabsproduct-contain .tabs-title {    float: left;  width: 100%; padding: 0; margin: 0;}
.ma-tabs-title li {
    float: left;
    margin-left: 5px;
    list-style: none;
}
.ma-tabs-title li.first {
    margin-left: 0;
}
.ma-tabs-title a {
    float: left;
    font-weight: normal;
    font-size: 19px;
    text-decoration: none;
    color: #464646;
    padding: 10px 15px 10px 6px;
    font-family: 'helvetica';
    text-transform: uppercase;
}
/*.ma-tabs-title li.active a, .ma-tabs-title a:hover {*/
/*    color: #f47b7b;*/
/*}*/
.ma-tabs-content {
    float: left;
    width: 100%;
    clear: both;
}